<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Here's Your haiku List</title>
  <LINK href="/styles.css" rel="stylesheet" type="text/css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  </style>
</head>

<body>
  <div id='container-mob'>
    <header>
      <h1>Hai-QR</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/haikus/new">Create</a>
        <a href="/users/dashboard">Dashboard</a>
        <a href="/haikus/search">Search</a>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>
    <div id='poem-body'>
      <ul>
        <% haikus.forEach(haiku => { %>
        <li style='text-transform: capitalize;'>
          <a href="/haikus/<%= haiku.id %>"> <%=haiku.title %> <span> by</span> <%=haiku.author%> </a>
        </li>
        <% }) %>
      </ul>
    </div>
    <footer>
      <p>Concept and Software Development by Marlon Barrios Solano</p>
      <p><span id='date-time'></span>.</p>
      <script>
        var dt = new Date();
        document.getElementById('date-time').innerHTML = dt;
      </script>
    </footer>
  </div>
</body>

</html>