<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <LINK href="/styles.css" rel="stylesheet" type="text/css">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
                </style>
		<title> Create</title>
	</head>
	<body>
		<h1>Haik-QR</h1>
		<form action="/haikus" method="POST">
         <input type="text" name="line1" placeholder='5 syllables'/><br />
           <input type="text" name="line2" placeholder='7 syllables'/><br />
          <input type="text" name="line3" placeholder='5 syllables'/><br />
		<input type="text" name="title" placeholder='title'/><br />
		<input type="text" name="author" placeholder='author'/><br />
		
			<input type="submit" name="" value="Add Haiku" />
		</form>
        <iframe height= "100px"  src="https://preview.p5js.org/MarlonBarriosSolano/embed/wkYyfEz_M"></iframe>
	</body>
	</body>
</html>