<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
            </style>
    <title>Hello <%= user.username %></title>
</head>
<body>
    <header>
        <div id='container'>
        <h1>Hello <%= user.username %></h1>
        
        <nav class='nav-links'>
            <a href="/">About</a>    
            <a href="/haikus">Explore</a>    
            <a href="/haikus/new">Create</a>    
            <a href="/users/logout">Logout</a>  

        </nav>


    </header>
<div> 

    Traditional Haiku Structure
The structure of a traditional haiku is always the same, including the following features:

There are only three lines, totaling 17 syllables.
The first line is 5 syllables.
The second line is 7 syllables.
The third line is 5 syllables like the first.
Punctuation and capitalization are up to the poet, and need not follow the rigid rules used in structuring sentences.
A haiku does not have to rhyme, in fact usually it does not rhyme at all.
It can include the repetition of words or sounds

Examples of Traditional Haiku
The most famed traditional Japanese poets include Matsuo Basho, Yosa Buson, Kobayashi Issa, and Masoaka Shiki. They are known as "the Great Four" and their work is still the model for traditional haiku writing today.

Let's take a look at two of Matsuo Basho's most famous poems. (Note: The 5-7-5 rhythm has been lost in translation, as not every Japanese word has the same number of syllables, or sounds, as its English version. For example, haiku has two syllables in English. In Japanese, the word has three sounds.)

An old silent pond,
A frog jumps into the pond,
splash! Silence again.

On a withered branch
A crow has alighted:
Nightfall in autumn.

The traditional form of haiku has also been embraced by English-speaking poets. Here are two examples by Kelly Roper from our sister site LoveToKnow.com, both with a focus on nature.

The season gives way.
Winter lays down her mantle,
As spring bursts to life

Waiting in the marsh,
The heron stands silently,
Fish sense death is near.

Examples of Modern Haiku
Now, let's take a look at modern Western haiku. Here are two examples, also by LoveToKnow's Kelly Roper. Notice the difference in style compared to the traditional haiku examples above.

Foul ball
Flys up through the air...
Fan catches it with his face.

Giant, foul-smelling shadow
Smashing through the forest.
Sasquatch is on the move.
</div>

</div>
</body>
</html>
