<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        </style>
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
    <title>HAIK-QR</title>
</head>
<body>
    <div id='container'>
        <div id='col1'>
            <div id='cell1'><h1>Hai-QR</h1></div>
            <div id='cell4'></div>
            <div id='cell7'></div>
        </div>
        <div id='col2'>
            <div id='cell2'></div>
            <div id='cell5'>
                <p class='line'>An old silent pond,</p>
                <p class='line'>A frog jumps into the pond,</p>
                <p class='line'>splash! Silence again.</p>
                <p><img class='line' src="./assets/images/oldpond.png" alt="qr code image" width="180" height="180"></p>
            </div>
            <div id='cell8'></div>
        </div>
        <div id='col3'>
            <div id='cell3'>
                <nav>
                    <% if(user) { %>
                    <a href="/users/logout">Logout</a>
                    <% } else { %>
                    <a href="/users/login">Login</a>
                    <a href="/users/signup">Signup</a>
                    <% } %>
                </nav>
            </div>
            <div id='cell6'>
                <p>This is probably the most famous Haiku by Matsuo Basho
                    <p>The structure of a traditional haiku is always the same, fowwling these basic rules:</p>
                    <p>There are only three lines, totaling 17 syllables.</p>
                    <ul>
                    <li><p>The first line is 5 syllables.</p></li>
                    <li><p>The second line is 7 syllables.</p></li>
                    <li><p>The third line is 5 syllables like the first.</p></li>
                </ul>
                <p>Punctuation and capitalization are up to the poet.</p>
                <p>A haiku does not have to rhyme, in fact usually it does not rhyme at all.</p>
                <p>It can include the repetition of words or sounds</p>
              
               
            </div>
            <div id='cell9'> </div>
        </div>
    </div>

</body>

</html>