<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        </style>
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
  
</head>
<body>
    <div id='container-mob'>
    <header>
        <h1>Hai-QR</h1>
    

        <nav>
            <% if(user) { %>
             
            <a href="/haikus">Explore</a>
            <a href="/haikus/new">Create</a>
            
            <a href="/users/dashboard">Dashboard</a>
            <a href="/api/haikus">API</a>
            <a href="/users/logout">Logout</a>
            <% } else { %>
            <a href="/users/login">Login</a>
            <a href="/users/signup">Signup</a>
           
            <% } %> 
        </nav>

    </header>
  
       <div id='poem-body'>
              
       
                <p class='line'>An old silent pond,</p>
                <p class='line'>A frog jumps into the pond,</p>
                <p class='line'>plop! Silence again.</p>
           
               
            
                <p>This is probably the most famous Haiku by Matsuo Basho
                    <p>The structure of a traditional haiku is always the same, fowwling these basic rules or a basic algorythm:</p>
                    <p>There are only three lines, totaling 17 syllables.</p>
                    <ul>
                    <li><p>The first line is 5 syllables.</p></li>
                    <li><p>The second line is 7 syllables.</p></li>
                    <li><p>The third line is 5 syllables like the first.</p></li>
                </ul>
                <p>Punctuation and capitalization are up to the poet.</p>
                <p>A haiku does not have to rhyme, in fact usually it does not rhyme at all.</p>
                <p>It can include the repetition of words or sounds</p>
                <p> Haikus and QR codes, both originated in Japan and share a minimalist computational esthetic. </p><p>Hai-QR allows you to create and visulaize Haikus as functional QR codes. Hai-QR is an exploration of the poetics of technologies of composition and transcoding. Signup, login to create and explore! </p>

              
                <img class='line' src="./assets/images/oldpond.png" alt="qr code image" width="150" height="150">
           
        </div>
        <footer>


            <p>Concept and Software Development by Marlon Barrios Solano</p>  <p><span id='date-time'></span>.</p>
        </body> 
          </footer>

          <script>
            var dt = new Date();
            document.getElementById('date-time').innerHTML=dt;
            </script>
    </div>

</body>

</html>