<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Here's Your haiku List</title>
  </head>
  <body>
    <h1>haiku index page</h1>
    <nav>
        <a href="/haikus/new">Add a New Haiku</a>
      </nav>
     
    <ul>
      <% haikus.forEach(haiku => { %>
        <li>
          <a href="/haikus/<%= haiku._id %>"> <%=haiku.title %> </a>
          <form action="/haikus/<%=haiku.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <a href="/haikus/<%=haiku._id %>/edit">Edit</a>
        </li>
        <% }) %>
  </body>
</html>
