<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Here's Your haiku List</title>
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
            </style>
  </head>
  <body>
    <h1 id='title' >HAIKQR</h1>
    <nav>
        <a href="/haikus/new">Create a new HAIKQR</a>
      </nav>
     
    <ul>
      <% haikus.forEach(haiku => { %>
        <li>
          <a href="/haikus/<%= haiku.id %>"> <%=haiku.title %> </a>
          <form action="/haikus/<%=haiku.id %>?_method=DELETE" method="POST">
            <input id='delete' type="submit" value="delete" />
          </form>
          <a href="/haikus/<%=haiku.id %>/edit">Edit</a>
        </li>
        <% }) %>
        
  </body>
</html>
