<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
    <title>Login</title>
</head>

<body>
    <div id='container-mob'>
        <header>
            <h1>Hai-QR</h1>

        </header>
        <div id='poem-body'>
            <% if(error) { %>
            <p style="color: red;"><%= error %></p>
            <% } %>
            <p>Please Enter Your Credentials To Login</p>
            <form action="/users/login" method="POST" autocomplete="off">

                <input type="text" name="username" required placeholder="username">
                </label><br>

                <input type="password" name="password" required>
                </label><br>
                <input type="submit" value="Login">
            </form>
        </div>
        <footer>
            <p>Concept and Software Development by Marlon Barrios Solano</p>
            <p><span id='date-time'></span>.</p>
</body>
</footer>

<script>
    var dt = new Date();
    document.getElementById('date-time').innerHTML = dt;
</script>
</div>
</body>

</html>