<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="/styles.css" rel="stylesheet" type="text/css">
    <title>HAIK-QR</title>
</head>
<body>
   
        <div id='container'>
            <!-- <header> links here</header> -->
            <div id='col1'>
             
                <div id='cell1'></div>
                <div id='cell4'></div>
                <div id='cell7'></div>

            </div>
                <div id='col2'>
                    <div id='cell2'></div>
                        <div id='cell5'></div>
                        <div id='cell8'></div>
                </div>
                    <div id='col3'>
                        <div id='cell3'>
                            <nav>
                                <% if(user) { %>
                                    <a href="/users/logout">Logout</a>
                                <% } else { %>
                                    <a href="/users/login">Login</a>
                                    <a href="/users/signup">Signup</a>
                                <% } %>
                            </nav>
                        </div>
                        <div id='cell3'></div>
                        <div id='cell9'></div>
                    </div>
                      
       
    </div>

</body>
</html>